<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login OTP</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333; background-color: #f4f4f4; margin: 0; padding: 0;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width: 700px; background-color: #F5F6FF; border-radius: 8px; overflow: hidden;">
        <tr>
            <td style="background-color: #1e3d5d; padding: 20px; text-align: center;">
                <img width="400" src="https://botlabdynamics.com/sites/default/files/2022-11/BL%20Botlab%20Dynamics%20%281%29.png" alt="Botlab Dynamics Logo" >
            </td>
        </tr>
        <tr>
            <td style="padding: 32px;">
                <p style="font-size: 16px; line-height: 1.5; margin: 0;">Dear <span style="color: #2969FF;">john@gmail.com,</span></p>
                <p style="font-size: 16px; line-height: 1.5; margin: 20px 0;">Thank you for choosing our service. To ensure the security of your account, please use the One-Time Password (OTP) provided below to complete your verification.</p>
                <p style="font-size: 16px; line-height: 1.5; margin: 20px 0;">Please enter this code on the verification page within the next 10 minutes. Do not share this code with anyone to keep your account secure.</p>
                <div style="text-align: center; margin-top: 32px;">
                    <p style="font-size: 16px; margin: 0;">Your Login OTP Code</p>
                    <p style="font-weight: bold; font-size: 30px; margin: 18px 0; user-select: none;">950842</p>
                    <p style="font-size: 16px; line-height: 1.5; margin: 0;">(This code will expire <span style="font-weight: bold;">10 minutes</span> after it was sent.)</p>
                </div>
                <div style="margin-top: 32px;">
                    <p style="font-size: 16px; line-height: 1.5; margin: 0;">Best regards,</p>
                    <p style="font-size: 16px; line-height: 1.5; margin: 0;">The Drone Mapping Team</p>
                    <p style="font-size: 14px; color: #666; margin: 0;"><span style="font-weight: bold;">Contact:</span> 9873088096</p>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
